body {
    background-color: #efefef;
}
.main{
    background-color: white;
    /*边距*/
    margin: 30px;
}
.btn-publish{
    /*右边*/
    float: right;
    /*距离底部*/
    margin-bottom: 15px;
}
.media-object{
    /*图片大小*/
    width: 40px;
    height: 40px;
}
.text-gray-small{
    font-size: 12px;
    font-weight: normal;
    color: darkgray;
}
